.navbar {
    background-color: #333; /* Fondo oscuro */
    overflow: hidden;
    color: white;
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .nav-button {
    background: linear-gradient(to bottom, #0075fc 0%, #002fff 100%); /* Degradado clásico */
    margin-left: 10px;
  }
  
  .nav-link {
    color: white;
  }
  