/* Estilos básicos */
body {
    margin: 0;
    font-family: Arial, sans-serif; /* Arial era común en diseños web de los 2000 */
  }
  
  .home-page-customer {
    background-color: #ffffff;
    color: #000000;
    min-height: 100vh;
  }
  
  h1, h2 {
    color: #333333;
  }
  
  /* Estilo del navbar para reflejar la navegación sencilla y directa */
  .navbar {
    background-color: #232f3e; /* Fondo oscuro para el navbar, similar al de Amazon */
    color: white;
    padding: 10px 20px;
  }
  
  .navbar-content a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
  }
  
  /* Estilo de las secciones de categoría */
  .category-section {
    border: 1px solid #dddddd; /* Bordes sencillos */
    padding: 20px;
    margin: 20px 5%;
    background-color: #f0f0f0; /* Fondo sutil para cada sección */
  }
  
  .category-section h2 {
    border-bottom: 2px solid #dddddd; /* Línea divisoria debajo del título de la categoría */
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  /* Estilos para los botones, incluyendo 'Ver más' */
  button {
    background: #f0c14b; /* Botón amarillo con borde, inspirado en Amazon */
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
  }
  
  button:hover {
    background-color: #e7b933;
  }
  
  /* Ajustes para la visualización del producto */
  .product-card-link {
    display: block;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px;
    border: 1px solid #dddddd; /* Bordes sencillos */
    margin-bottom: 20px; /* Espaciado entre productos */
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
  }
  
  .product-info {
    text-align: center;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .category-section {
      margin: 20px 2%;
    }
  }
  