/* OrderListPage.css */

.order-list-page {
    padding: 20px;
    max-width: 600px;
    margin: auto;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Ensure padding doesn't increase the width */
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  li img {
    margin-right: 10px;
    width: 60px; /* Adjust based on your design */
    height: auto;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    margin-left: auto;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .place-order-btn {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
  
  /* Responsive design adjustments */
  @media (max-width: 768px) {
    .order-list-page {
      padding: 15px;
    }
  
    button {
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    li {
      flex-direction: column;
      align-items: start;
    }
  
    button {
      padding: 12px 15px;
      width: 100%; /* Make buttons easier to tap on mobile */
    }
  
    .place-order-btn {
      margin-top: 30px;
    }
  }
  