.admin-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: aliceblue;

    width: 100%; // Asegura que ocupa el ancho completo de la vista
    height: 100vh; // Asegura que ocupa toda la altura de la vista
    .dashboard-title {
      color: #333;
      margin-bottom: 20px;
    }
  
    .links-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  
      .link {
        color: #007bff;
        text-decoration: none;
        margin-bottom: 10px;
  
        &:hover {
          text-decoration: underline;
          color: #0056b3;
        }
      }
    }
  }
  