// Variables
$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #336fac;

// Estilos generales
body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
}

.salesHistoryPage {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

// Estilos para la barra de navegación
.navbar {
  background-color: $primary-color;
  color: rgb(41, 165, 223);
  padding: 10px 20px;
}

// Estilos para los encabezados
h1 {
  color: $primary-color;
  margin-bottom: 20px;
}

h2 {
  color: $secondary-color;
  margin-bottom: 10px;
}

h3 {
  color: $primary-color;
  margin-bottom: 5px;
}

h4 {
  color: $secondary-color;
  margin-bottom: 5px;
}

// Estilos para las tarjetas de pedido
.order-card {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.order-card p {
  margin: 5px 0;
}

.order-card ul {
  list-style-type: none;
  padding: 0;
}

.order-card li {
  margin-bottom: 5px;
}

// Estilos para los grupos de fechas
.date-group {
  margin-bottom: 30px;
}
